<header class="page-title">
{{#if tagDescription}}
  <h1 class="content-title">{{tagDescription.title}}<h1/>
  <p>{{{tagDescription.content}}}<p/>
{{else}}
  <h1 class="content-title">All blog posts tagged "{{tag}}"</h1>
{{/if}}
</header>
{{#each posts}}
{{> post this}}
{{/each}}

{{#if totalPages}}
  <p class="blog-pagination">
    Showing {{posts.length}} posts out of {{total}} total, page {{pageNum}}
  </p>
  <p class="blog-pagination">
    {{#if prevPage}}<a href="{{blogRoutePrefix}}/page/{{prevPage}}">Previous page</a>{{/if}}
    {{#if nextPage}}<a href="{{blogRoutePrefix}}/page/{{nextPage}}">Next page</a>{{/if}}
  </p>
{{/if}}
